label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

form {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#name,#email,#pass,#date,#age,#payment{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  